################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstApp24/.vs
/FirstApp24/FirstApp24/bin/Debug/net8.0
/FirstApp24/FirstApp24/obj
/ContosaApp/.vs/ContosaApp
/ContosaApp/ContosaApp/bin/Debug/net8.0
/ContosaApp/ContosaApp/obj
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Debug/net8.0
/IdentityApp/IdentityApp/obj
/SimpleChat/.vs
/SimpleChat/SimpleChat/bin/Debug/net8.0
/SimpleChat/SimpleChat/obj
/WebApiFirst/.vs/WebApiFirst
/WebApiFirst/WebApiFirst/bin/Debug/net8.0
/WebApiFirst/WebApiFirst/obj
/WebApiFirst/.vs/ProjectEvaluation
/WebApiPostgre/.vs/WebApiPostgre
/WebApiPostgre/WebApiPostgre/bin/Debug/net8.0
/WebApiPostgre/WebApiPostgre/obj
