################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstApp24/.vs
/FirstApp24/FirstApp24/bin/Debug/net8.0
/FirstApp24/FirstApp24/obj
/ContosaApp/.vs/ContosaApp
/ContosaApp/ContosaApp/bin/Debug/net8.0
/ContosaApp/ContosaApp/obj
