@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        From Query string -  @ViewData["theme"]
    </p>

    <p>
        From Cookies -  @ViewData["theme2"]
    </p>

    <p>
        Role from Query string - @ViewData["role"]
    </p>

    <p>
        From Session -  @ViewData["role2"]
    </p>
</div>
