@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, @ViewData["Name"]!</h1>

    <h6> @ViewBag.CurrentTime </h6> 
    
    <ol>
        @foreach(var el in (string[])ViewData["Week"])
        {           
            <li> @el </li>
        }
    </ol>
</div>
